.App {
  max-width: 960px;
  max-height: 540px;
  margin: 20px 0px 0px 20px;
}

.bgContainer {
  background-image: url("/public/weather_fon7.jpeg");
  background-repeat: no-repeat;
  padding: 60px 20px 20px 40px !important;
}
