:root {
  --object-color: #d0a940;
  --text-color: #581713;
  --font-for-little: "Julee", cursive;
  --font-for-uppercase: "Jim Nightshade", cursive;
}

.App {
  max-width: 960px;
  max-height: 540px;
  margin: 20px 0px 0px 20px;
  color: var(--text-color);
}

.bgContainer {
  background-image: url("/public/weather_fon7.jpeg");
  background-size: cover;

  background-repeat: no-repeat;
  padding: 60px 20px 20px 40px !important;
}
