:root {
  --object-color: #d0a940;
  --text-color: #581713;
  --font-for-little: "Julee", cursive;
  --font-for-uppercase: "Jim Nightshade", cursive;
}
input::placeholder {
  font-family: var(--font-for-little);
  color: var(--text-color) !important;
  opacity: 0.8 !important;
}
.bgContainer {
  background-image: url("/public/weather_fon7.jpeg");

  background-repeat: no-repeat;
  padding: 60px 20px 20px 40px !important;
}

.Weather {
  padding-top: 25px;
}
.cityButton {
  background-color: var(--object-color) !important;
  color: var(--text-color);
  font-family: var(--font-for-uppercase);
  font-size: 20px;
}
.cityInput,
.cityButton {
  border-color: var(--object-color) !important;
}
.header-small {
  font-family: var(--font-for-little);
  font-size: 20px;
}
.header-uppercase,
.header-uppercase-second {
  font-family: var(--font-for-uppercase);
  font-size: 32px;
  text-transform: uppercase;
}
.header-uppercase-second {
  font-size: 20px;
}

.weather-icon {
  padding-top: 10px;
  padding-right: 10px;
}

.temperature {
  font-size: 62px;
}
.unit {
  position: relative;
  top: -25px;
}
.weatherDescrip {
  letter-spacing: 10px;
  color: #e5645f;
}

.date-style {
  color: #e5645f;
  /* color: #8ddc8a; */
  /* color: #55a2e7; */
}
